<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
    <div class="cajaLogin">
        <h1 class="titLogin">Acceso</h1>
        <p class="txtLogin">Introduzca sus credenciales</p>

        {% if message %}
            <h3 class="sbTitLogin">{{ message }}</h3>
        {% endif %}
        <form method="post" action="/login" class="fmLogin">
            <div>
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username"/>
            </div>
            <div>
                <label for="password">Clave:</label>
                <input type="password" id="password" name="password"/>
            </div>
            <input class="sendBtn" type="submit" value="Acceder"/>
        </form>
    </div>
</body>
</html>